* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    min-width: 400px;
}

input {
 border: 1px solid #5f9341;
 width: 100%;
 padding: 10px;
 border-radius: 3px;
}

input:active{
    border: 1px solid #5f9341;
    background: none;
    border-radius: 5px;
}

/* Styling the button */

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #5f9341;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}

#btn-del {
    border: 1px solid #5f9341;
    padding: 10px 20px;
    border-radius: 5px;
    background: white;
    color: #5f9341;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}


ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: #5f9341;
}

a:hover{
    color: teal;
}


